{{!-- {{{Like html with a couple of features to inject dynamic values form node js 
if we need dynamic content }} --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>App</title>
 
</head>
<body>
    <div class='main-content'>
    {{>header}}
         <form placeholder="Location">
         <input type="">
         <button>Search</button>
     </form>
     <p id="message1"></p>
     <p id="message2"></p>
     </div>
     <hr>

      {{>footer}}
      
     <script src="/js/client-side.js"></script>
    
</body>
</html>
